header {
	width: 100%;
	height: 54px;
	border-bottom: 1px solid #f0f0f0;
	line-height: 56px;
}
header .logo{
	height: 55px;
	float: left;
}s
header:after {
	content: '';
	display: block;
	clear: both;
}

header .nav {
	float: left;
	width: 342px;
}
header .nav > li {
	float: left;
	left: 88px;
	margin-left: 10px;
}

header .nav .tab>a {
	font-size: 17px;
	color: #333;
	padding: 0 18px;
}
header .nav > li {
	height: 53px;
}
header .nav .tab:hover {
	background-color: #eee;
}

header .nav .active a {
	color: #e86f5e;
}
header .nav .tab {
	position: relative;
}
header .nav > li:hover .message-down{
	display: block;
}
header .nav .tab-message > ul  {
	position: absolute;
	left: 1px;
    top: 54px;
    box-shadow: 0 3px 4px 3px rgba(0,0,0,0.1);
    background-color: #fff;
    display: none;
    padding-top:10px;
    z-index: 2;
}
header .nav .tab > ul span {
	color: #e86f5e;
	padding: 0 14px;
}
header .nav .tab > ul a {
	display: block;
	width: 160px;
	height: 50px;
	font-size: 15px;
	color: #333;
	padding-left: 10px;
}
header .nav .tab > ul a:hover {
	background-color: #eee;
}

/* search   ****************************************************/
header .search {
	float: left;
	position: relative;
	width: 240px;
	height: 0;
}

header .search input {
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
	width: 150px;
	height: 38px;
	line-height: 38px;
	color: #a0a0a0;
	background-color: #eee;
	border: none;
	border-radius: 19px;
	outline: none;
	transition: all .5s;
}
header .search .icon-search {
	float: left;
    margin-top: 13px;
    margin-left: -35px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
}
header .search input:focus {
	width: 240px;
}

header .search input:focus~.icon-search{
	background-color: #969696;
	color: #fbfbfb;
}
header .search .search-down {
	float: left;
	position: relative;
	width: 240px;
	height: 200px;
	background-color: #fff;
    box-shadow:  0 1px 4px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
	border: none;
	display: none;
	z-index: 3;
}

header .search input:focus~.search-down{
    display:block;
}
header .search .search-down:before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 100px;
    left: 24px;
    top: -105px;
    width: 15px;
    height: 15px;
    transform: rotateZ(45deg);
    box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}
header .search .search-down h3 {
	padding-left: 20px;
    font-size: 13px;
    color: #ccc;
}
header .search .search-down .change {
    position: absolute;
    height: 44px;
    width: 69px;
    top: -2px;
    right: 7px;
    font-size: 13px;
    color: #ccc;
}
header .search .search-down .change:hover{
	color: #333;
}

header .search .search-down .lable a{
	float: left;
	margin: 10px 0 0 20px;
	padding: 2px;
	line-height: 15px;
	border: 1px solid #aaa;
	color: #aaa;
	border-radius: 3px;
}

header .search .search-down .lable a:hover {
	border: 1px solid #333;
	color: #333;
}
/*extra **********************************************************/
header .extra {
	position: relative;
	float: right;
	width: 300px;
	height: 54px;
}

header .extra .user {
	position: absolute;
	top: 1px;
	right: 40px;
	width: 100px;
	height: 54px;

}
header .extra >.user .select img {
	position: absolute;
    top: 4px;
    right: 125px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
}
header .extra > .user .icon-down {
	float: left;
	position: absolute;
	padding-left: 30px;
	top: 1px;
	right: 93px;
}

header .extra > .user  ul {
	float: right;
	position: absolute;
	padding-top: 10px;
    width: 124px;
    right: 59px;
    top: 54px;
    background-color: #fff;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.1);
/*	display: none;*/
	z-index: 2;
}

header .extra .user:hover  ul {
	display: block;
}

header .extra  .user > ul a {
	color: #fff;
}

header .extra  .user ul span{
	color: #e86f5e;
	padding: 0 10px 0 10px;
}


header .extra  .user ul .tab:hover{
	background-color: #eee;
}
header .extra .write .icon-write {
    position: absolute;
    right: 76px;
}
header .extra .write {
	float: right;
    box-sizing: border-box;
    top: 8px;
    position: absolute;
    padding: 13px 0 13px 21px;
    right: 7px;
    width: 115px;
    font-size: 16px;
    line-height: 15px;
    border-radius: 20px;
    background-color: #e86f5e;
    color: white;
    text-align: center;
}
/* main****************************************/
main {
	position: relative;
	width: 946px;
	margin: 0 auto;
	margin-top: 40px;
}

/*content   */
main .content {
	margin-right: 322px;

}

.carousel {
	position: relative;
		overflow: hidden;
}
.carousel .panels {
    width: 3120px;
    height: 270px;

}

.carousel .panels .images {
	float: left;
	width: 624px;
	height: 270px;
	z-index: 1;
}

.carousel .panels .images img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.carousel .panels:hover~.carousel-btn{
	display: block;
}

.carousel .carousel-btn{
	position: absolute;
    top: calc(50% - 25px);
	width: 40px;
	height: 50px;
	line-height:50px;
	font-size: 23px;
	font-weight: bold;
	color: #fff;
	background-color: rgba(152,152,152,0.7);
	text-align: center;	
	display: none;
}

.carousel .carousel-btn.left {
	left: 0;
	border-radius: 0 5px 5px 0;

}

.carousel .carousel-btn.right {
	right: 0;
	border-radius: 5px 0 0 5px;
}


.carousel .footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.carousel .footer > li {
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: red;
}

.carousel .footer >li.active {
	background-color: #fff;
}

.content .lable-group {
	margin-top: 20px;
}

.content .lable-group .tag {
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 10px;
	padding-right: 14px;
	min-height: 33px;
	line-height: 32px;
	font-size: 14px;
	color: #333333;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	background-color: #f7f7f7;
	vertical-align: middle;
}
.content .lable-group .tag > img {
	height: 34px;
	vertical-align: middle;
	margin-right: 14px;
}

.content .lable-group .other {
	color: #787878;
}

/*list connain*/
.list-contain {
	position: relative;
	height: 202px;
	border-top: 1px solid #f0f0f0;
}
.list-contain .header {
	margin-top: 20px;
}
.list-contain .header > a img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	vertical-align: middle;
}

.list-contain .header > .username {
	margin-left: 10px;
	color: #333333;
	vertical-align: middle;
}
.list-contain .header > p {
	display: inline-block;
	margin-left: 10px;
	color: #b09696;
	vertical-align: middle;

}

.list-contain .article .title {
	display: inline-block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.list-contain .article > p {
	line-height: 27px;
	max-width: 460px;
	height: auto;
	color: #333;
}

.list-contain .footer > a {
	padding: 2px 3px 2px 3px;
	line-height: 20px;
	color: #e86f5e;
	border: 1px solid #e86f5e;
	border-radius: 3px;
	text-align: center;
}
.list-contain .footer .blank {
	display: inline-block;
	color: #b4b4b4;
}
.list-contain .footer .blank > a {
	color: #b4b4b4;
}

.list-contain .footer .blank .icon-money {
	font-size: 10px;
}

.list-contain .cover {
	position: absolute;
	right: 0;
	top: calc(50% - 60px);
	width: 150px;
	height: 120px;

}

.list-contain .cover img {
	width: 100%;
	height: 100%;
}
/*aside  */
main .aside {
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;
	height: 300px;
}

.aside .border {
	width:100%;
}
.aside .border a {
	width:100%;
}

.aside .border a img {
	width: 100%;
}

.aside .qrcode > img {
	padding: 15px ;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
	display: none;
}

.aside .qrcode {
	position: relative;
	top:10px;
	margin-bottom: 20px;
	height: 84px;
}

.aside .qrcode a {
	display: block;
	padding: 0  10px 0 10px;
	height: 84px;
	border: 1px solid #eee;
	border-radius: 3px;
}
.aside .qrcode a > img {
	padding-right: 10px;
	transform: translateY(+16px);
	width: 52px;
	height: 52px;
}

.aside .qrcode a > .title {
	display: block;
	width: 110px;
	margin-top: -35px;
	margin-left: 60px;
	color: #333;
	font-size: 16px;
}
.aside .qrcode a > .qrcode-intro {
	display: inline;
	margin-left: 60px;
	width: 10px;
	height: 10px;
	font-size: 14px;
	color: #999;
}

.aside .recommend {
	position: relative;
	margin-top: 10px;
}

.aside .recommend .intro {
	display: inline;
	color: #ccc;
	font-size: 14px;
}

.aside .recommend > .change {
	float: right;
	color: #ccc;
}

.aside .recommend .authors {
	position: relative;
	margin-top: 10px;
}

.aside .recommend .authors > .avator > img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;
}

.aside .recommend .authors  .info {
	position: absolute;
	top: 3px;
	left: 60px;
	width: 180px;
}

.aside .recommend .authors  .info > .name {
	display: block;
}

.aside .recommend .authors .info > span{
	display: inline;
}

.aside .recommend .authors .attention {
	position: absolute;
	top: 0;
	right: 0;
}

.aside .recommend .look {
	margin-top: 10px;
	display: inline-block;
	width: 280px;
	height: 32px;
	border: 1px solid #dcdcdc;
	color: #707070;
	line-height: 32px;
	font-size: 14px;
	background-color: #eee;
	border-radius: 4px;
	text-align: center;
}
/*main footer*/
main .content  .bottom {
	position: relative;
	margin: 30px 0 30px 0;
}
main .content  .bottom > .blank {
	margin-bottom: 20px;
	width: 100%;
	text-align: left;
}

main .content  .bottom > .blank > a {
	padding-bottom: 20px;	
}
main .content > .bottom > .blank > a,em {
	color: #969696;
}

main .content    .bottom > p {
	color: #c8c8c8;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
}

main .content   .bottom > p > img {
	height: 28px;
	vertical-align: middle;
}
/*readmore  */
main .content .readmore {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #fff;
	border-radius: 18px;
	background-color: #777;
	text-align: center;
}
/*  up   */
.icon-up {
	position: fixed;
	float: right;
	bottom: 100px;
	right: 100px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #dcdcdc;
	text-align: center;
}